<html>
  <body>
    <div class="container mt-2 p-0 mx-0">
      <div class="d-flex">
          <%= render 'shared/party_info' %>

            <br>
        </div>
      </div>
    </div>
  </body>
</html>
