
<div class="container mt-2 p-0 mx-0">
  <%# <div class="d-flex"> %>
  <div class="d-flex">
    <div class="party-info-container col-2">
      <%= render 'shared/party_info' %>
    </div>
    <div class="col-10 m-0 p-0">
      <div class="party-desc-container">
        <div class="top-party-desc-container">
          <div class="recipe-head">
            <h2>On the menu<h2>
            <div class = "recipe-head-links">
            <button>Edit</button>
            <%= link_to "party_ingredients", party_ingredients_path(@party) %>
            </div>
        </div>
        <div class="recipe-content center">
          <% @party.recipes.each do |recipe| %>
            <div class="recipe-card">
              <h3> Image placeholder </h3>
              <h3> <%= recipe.title %> </h3>
            </div>
          <% end %>

          <div class="recipe-card">
            <h3> Image placeholder </h3>
            <h3> Recipe </h3>
          </div>

          <div class="recipe-card">
            <h3> Image placeholder </h3>
            <h3> Recipe </h3>
          </div>

          <div class="recipe-card">
            <h3> Image placeholder </h3>
            <h3> Recipe </h3>
          </div>
          <hr>
        </div>
      </div>
      <hr>
      <div class="bottom-party-desc-container">
        <div class="music-container border border-dark">
          <h3>Music</h3>
        </div>
        <div class="convo-container">
          <h3>Conversation</h3>
        </div>
      </div>
    </div>
    <br>
    <%# <div class="col-2">
      <button class = "see-all"> see other dinner parties </button>
    </div> %>
  </div>
</div>
