
<div class="container mt-2 p-0 mx-0">
  <%# <div class="d-flex"> %>
  <div class="d-flex">
      <%= render 'shared/party_info' %>
    <div class="col-10 m-0 p-0">
      <div class="party-desc-container">
        <div class="top-party-desc-container">
          <div class="recipe-head">
            <h2>On the menu<h2>
            <div class = "recipe-head-links">
            <button class = "edit-btn" >Edit</button>
            <%= link_to "See ingredients", party_ingredients_path(@party), class: "ingredient-btn" %>
            </div>
        </div>
        <div class="recipe-content center">
          <% @party.recipes.each do |recipe| %>
            <div class="recipe-card">
              <div class="recipe-img-container" style="background-image: url(<%= recipe.photo_url %>); background-size: cover"></div>
              <h3> <%= recipe.title %> </h3>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <hr style="margin-left: 40px;">
      <div class="bottom-party-desc-container">

        <div class="music-container">
          <h2>My Music</h2>
          <div class="music-content center">
          <p>No music yet</p>
          <button class = "spotify-btn">Connect Spotify</button>
          </div>
        </div>
        <div class="convo-container">
          <h2>Conversations</h2>
        </div>
      </div>
      <hr style="margin-left: 40px;">
      <button class = "see-all-btn"> View all your parties </button>
    </div>
  </div>
</div>
