.login-container {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 60px;
  background-color: #C9FBC5;
  padding: 70px;
  h2 {
  font-family: $display-font;
  font-size: 80px;
  letter-spacing: -2px;
  }
  .form-control {
    background-color: #C9FBC5;
    border-left: #C9FBC5;
    border-right: #C9FBC5;
    border-top: #C9FBC5;
    border-bottom: 1px solid #000000;
  }
  .submit-btn {
    color: #C9FBC5;
    background-color: black;
    width: 100%;
    border: 1px solid black;
  }

  .submit-btn:hover {
    color: black;
    background-color: #C9FBC5;
    width: 100%;
    border: 1px solid black;
  }

  a {
    color: black;

  }
}
