#create-body {
  background-color: #C9FBC5;
}

.create-party-container {
  .inline-form {
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
  }
  .guest-card {
    width: 40%;
  }

  .img-dishes {
    width: 70%;
  }

  .theme-container-left {
    justify-content: center;
  }
  .next-btn {
    font-family: $text-font;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 16px;
    background-color: black;
    color:#C9FBC5;
    border: 1px solid black;
  }

  .detail-container {
    padding-top: 10%;
    height:100vh;
    width:100vw;

  }

  p {
    font-size: 16px;
    line-height: 0;
  }

  .form-select {
    background-color:#C9FBC5;
    border: 1px solid black;
  }

  h1 {
    font-family: $display-font;
    font-size: 40px;
  }

  h2 {
    font-size: 65px;
    font-family: $display-font;
    line-height: 55px;

  }

  .nav-link.active {
    background-color: black;
    color: #C9FBC5;
  }

  .nav-link {
    color: black;
  }
}

.recipe-container {
  display: flex;
}

.new-details {
  text-align: left;
}

.form-control {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  text-align: left;
}

.dishes-card {
  background-color: #C9FBC5;
  padding: 40px;
  margin: 10px;
}

.guest-card {
  margin: auto;
  width: 50%;
  background-color: #C9FBC5;
  padding: 40px;
}

.recipe-search-container {
  text-align: left;
}

.search-recipe-card {
  width: 300px;
  height: auto;
  margin-right: 10px;
}

.search-button {
  color: black;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  text-decoration: underline;
}

.create-party-btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #C9FBC5;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}

.create-party-btn a {
  text-decoration: none;
}


.clickable {
  font-size: 30px;;
  padding: 40px;
  width: 200px;
  height: 200px;
  // border: 1px solid black;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}


.clickable.active {
  color: inherit;
  border-color: inherit;
}

.clickable:hover {
  color:#C9FBC5;
  background-color: black;
}


.clickable.active {
  color:#C9FBC5;
  background-color: black;
  border-radius: 9999px;
}
