
* {
  transition: all 0.3s ease-out;
}

.card-recipe {
  height: 120px;
  width: 40vw;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  overflow: hidden;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  top: 0px;
  z-index: 0;
  position: relative;


  // display: block;
  // top: 0px;
  // position: relative;
  // max-width: 262px;
  // background-color: #f2f8f9;
  // border-radius: 4px;
  // padding: 32px 24px;
  // margin: 12px;
  // text-decoration: none;
  // z-index: 0;
  // overflow: hidden;
  // border: 1px solid #f2f8f9;

  // &:hover {
  //   transition: all 0.2s ease-out;
  //   box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  //   top: -4px;
  //   border: 1px solid #cccccc;
  //   background-color: white;
  // }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: -16px;
  //   right: -16px;
  //   background: $green;
  //   opacity: 0.7;
  //   height: 32px;
  //   width: 32px;
  //   border-radius: 32px;
  //   transform: scale(2);
  //   transform-origin: 50% 50%;
  //   transition: transform 0.15s ease-out;
  // }

  // &:hover:before {
  //   transform: scale(2.15);
  // }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #C9FBC5;
    opacity: 0.7;
    height: 1px;
    width: 1px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.80s ease-out;
  }

  &:hover:before {
    transform: scale(999);
  }

}

.card-recipe:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgb(22, 21, 21);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

.picture-recipe {
  height: 100%;
  width: 180px ;
  background-size: cover;
}

.card-recipe h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-recipe p {
  font-size: 11px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
}

.card-recipe .card-recipe-infos {
  padding: 16px;
}


.search-form .search-buttonn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: transparent;
  font-size: 15px;
  border: 1px solid black;
  font-family: $text-font;
  margin-left: 10px;

}

.search-buttonn:hover {
  background-color: #C9FBC5;
}





.recipe-head-page {
  font-family: $display-font;
        font-size: 50px;
}

.recipe-title {
  font-family: $display-font;
  font-size: 20px;
  color: black;
}

.recipe-title:hover {
  color: black;
}
