<div class="party-info-container col-3">
     <h2><%= @party.title %></h2>
     <%= @party.address %>
     <%= @party.theme %>
     <%= @party.attendancy %>
    </div>
    <%# <div class="party-desc-container col-9">
    </div> %>
