<div class="card-recent-container pb-5">
 <div class="card-party card center">
                <%# <%= link_to party_path(party) do %> %>

                <p> <%= party.title %> </p>
              </div>
              <%# <% end %> %>
</div>
