<head>
<meta http-equiv="refresh" content="2;url=https://the-supper-club.herokuapp.com//parties/<%= Party.last["id"] %>" />
</head>
<div class="center" style="margin-top: 20px;">
<%= image_tag "IMG_3132.png", class:"loading-image" %>
<h2>Preparing your party...</h2>
</div>
